body {
    margin: 0;
    color: #FFF;
    background-color: #000;
}

.slider {
    width: 94%;
    min-height: 100vh;
    padding: 2% 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.slider__images {
    height: 75vh;
    margin-bottom: 4%;
}

.slider__image {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    animation: 1s ease-in-out;
}

.slider__image.slider__image_active {
    display: block;
}

.slider__texts-dots-wrapper {
    display: flex;
}

.slider__texts {
    flex-basis: 75%;
}

.slider__text {
    display: none;
    animation: 1s ease-in-out;
}

.slider__text.slider__text_active {
    display: block;
}

.slider__dots {
    flex-basis: 25%;
    display: flex;
    justify-content: flex-end;
}

.slider__dot-wrapper {
    padding: 5px;
    margin: 0 3px;
    cursor: pointer;
}

.slider__dot {
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #FFB6C1;
    transition: all 0.5s ease-in-out;
}

.slider__dot.slider__dot_active {
    border: 1px solid #FFB6C1;
    background-color: inherit;
}

.slider__dot-wrapper:hover .slider__dot {
    background-color: #00FFFF;
}

.slider__dot-wrapper:hover .slider__dot.slider__dot_active {
    background-color: inherit;
    border: 1px solid #00FFFF;
}

.slider__dot-wrapper:active .slider__dot {
    background-color: #00FF00;
}

.slider__dot-wrapper:active .slider__dot.slider__dot_active {
    background-color: inherit;
    border: 1px solid #00FF00;
}

.fade-in {
    animation-name: fadeIn;
}

.fade-out {
    animation-name: fadeOut;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0;
    }
}

@media (max-width: 991.98px) {
    .slider__texts-dots-wrapper {
        flex-direction: column-reverse;
    }

    .slider__texts {
        flex-basis: 100%;
    }

    .slider__dots {
        flex-basis: 100%;
        justify-content: center;
        margin-bottom: 4%;
    }
}